[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.6.0"
torchvision = "*"
torchaudio = "*"
pip = "*"
natten = {file = "https://shi-labs.com/natten/wheels/cu124/torch2.6.0/natten-0.17.5%2Btorch260cu124-cp310-cp310-linux_x86_64.whl"}
gdown = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
