[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
pip = "*"
natten = "==0.17.1"

[dev-packages]

[requires]
python_version = "3.11"
